cffi==1.12.3
Click==7.0
ffmpeg==1.4
Flask==1.1.1
github-webhook==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
miniaudio==1.7
pycparser==2.19
pynput==1.4.4
pyobjc-core==5.2
pyobjc-framework-Cocoa==5.2
pyobjc-framework-Quartz==5.2
six==1.12.0
synthplayer==2.4
Werkzeug==0.16.0
